main {
    font-family: 'Noto Sans KR', sans-serif;
    width: 1200px;
    margin: 0 auto;
}
.me {
    display: flex;
    justify-content: center;
    padding: 100px;
}

#about {
    font-family: 'Noto Sans KR', sans-serif;
    height: 898px;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /*! background-image: url(../img/flower.jpg); */
    /*! background-size: contain; */
    /*! background-repeat: no-repeat; */
    /*! background-origin: content-box; */
}

#about .wrap0 {
    position:relative;
}

h2 {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
}

#about h2 {
    transform-style: preserve-3d;
    transition: all 1s;
    perspective: 600px;
    position: relative;
}
#about h2 i{    
    display: block;
    width: 50px;
    height: 50px;
}
h2 a {
    animation-name: about;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    display: block;
}

@keyframes about {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

h2 a strong {
    font-size: 100px;
    font-family: 'Monoton', cursive;
}
#about .wrap0 img{
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left:580px;
     animation-name: about;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    display: block;
}
#about p {
    font-size: 20px;
    line-height: 5;
    z-index: 1;
}

/* #about p::before{
    content:"";
    width: 300px;
    height: 300px;
    background-color: #1253a4;
    display: inline-block;
    position: absolute;
    top: -100px; 
    left:-71px;
    z-index: 0;
} */
#about ul {
    line-height: 3;
    display: flex;
    flex-direction: column;
}

#about ul li {
    font-size: 40px;
    color: #b1adad;
    font-weight: bold;
    animation-name: school;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    display: block;
}

@keyframes school {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

#about ul li strong {
    font-size: 20px;
    color: #333;
}

/* ---------------------------------------------skill------------------------------------------------ */
#skill {
    font-family: 'Noto Sans KR', sans-serif;
    height: 800px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: relative;
    border: 1px solid #ddd;
}
#top_light{
    transition: all 1s;
    width: 100px;
    height: 100px;
    position: absolute;
    right: 25%;
}
#top_light img {
    display: block;
    width: 80px;
    height: 80px;
    position:relative;
}

@keyframes dot{
    0%{
        border:2px solid green;
        background-color: green;
    }
    100%{
        border:2px solid #05fce4;
        background-color: #05fce4;}
}
#top_light::after{
    content:"";
    width: 7px;
    height: 7px;
    display: block;
    border:1px solid green;
    border-radius: 50%;
    position: absolute;
    top: 22px;
    right: 38px;
    background-color: green;
    position: absolute;
    animation-name: dot;
    animation-duration: 0.5s;
    animation-iteration-count:infinite; 
}
#top_light::before{
    content:"";
    width: 10px;
    height: 10px;
    display: block;
    border: 4px solid #8e8e8e;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    right: 60px;
    animation-name: circle;
    animation-duration: 1s;
    animation-iteration-count:infinite;  
    animation-timing-function: ease-in-out; 
}
@keyframes circle{
    0%{
        opacity: 1;
    }
    100%{
        width: 80px;
        height: 80px;
        opacity: 0;
    }
}
#skill h2 {
    /*! margin-bottom: 150px; */
    display: block;
    padding-bottom: 150px;
    text-align: center;
}
#skill h2 strong{
    font-size: 100px;
    font-family: 'Monoton', cursive;
}
#skill .icon {
    padding-bottom: 100px;
}

#skill .icon ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 80px;
}

#skill .icon ul li {
    display: block;
    width: 200px;
    height: 200px;
    font-size: 0;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
}

#skill .icon ul li:nth-child(1) {
    background-image: url(../img/html-icon.png);
}

#skill .icon ul li:nth-child(2) {
    background-image: url(../img/css-icon.png);
    background-size: 104%;
}

#skill .icon ul li:nth-child(3) {
    background-image: url(../img/zenCoding-icon.png);
    background-size: 90%;
}

#skill .icon ul li:nth-child(4) {
    background-image: url(../img/javascript-icon.svg);
}

#skill .wrap2 {
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
}

#skill .school {}

#skill h3 {
    display: flex;
    justify-content: center;
    font-size: 20px;
    line-height: 2;
    font-weight: bold;
}

#skill .wrap2 p {}

#skill .wrap2 ul {}

#skill .wrap2 ul li {
    line-height: 1.5;
}

#skill .school p {
    line-height: 1.5;
}

#skill .hc {}

#skill .hc h3 {}

#skill .hc ul {}

#skill .hc ul li {}

#skill .js {}

#skill .js h3 {}

#skill .js ul {}

#skill .js ul li {}

/* =============================portfolio=================================== */
#portfolio {
    font-family: 'Noto Sans KR', sans-serif;
    height: 1000px;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contents {
    column-count: 2;
    column-gap: 50px;
    padding: 20px;
    position: relative;
}

.center {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;   
}
.center figure img{
     box-shadow: 0px 0px 25px #c6b5b5;
}
.center figcaption{
    display: flex;
    flex-direction: column;
    font-size: 15px;
}
.center figcaption h3{
    font-size: 10px;
    margin-top: 10px;
}
.center figcaption p{
    font-size: 10px;
}
.center a {
    color: red;
    font-size: 9px;
    margin-bottom: 10px;
}

.center i {
    position: absolute;
    top: 67px;
    right: 170px;
    font-size: 30px;
    color: black;
    display: block;
    border: 2px solid #333;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    text-align: center;
    background-color: white;
    line-height: 1.2;    
}

.center img {
    border-radius: 0;
}

.in img {
    max-width: 100%;
}

.bottom {}

.wrap3 {
    position: relative;
}

.wrap3 h2 {
    padding-top: 50px;
    padding-bottom: 50px;
    display: block;
    text-align: center;
}
.wrap3 h2 strong{
    font-size: 100px;
    font-family: 'Monoton', cursive;
}
figure {
    display: inline-block;
    position: relative;
    /*! border: 2px solid #1a1a1a; */
    border-radius: 20px 20px 20px 20px;
    box-sizing: border-box;
    margin-bottom: 40px;
}
figure>div{
    display:flex;
    justify-content: center;
    align-items: center;  
    text-align: center;
}
figure>div::before{
    content: "Click";
    color: white;
    text-align: center;
    font-size: 50px;
    width: 550px;
    height: 300px;
    border: 1px solid #333;    
    border-radius: 20px;
    display: inline-block;
    background-color:rgba(0,0,0,0.7);
    transition: all 0.5s; 
    position: absolute;
    opacity: 0;
    line-height: 6;
}
figure:hover >div::before{
     opacity: 1;
}
.center figure:hover >div::before{
    opacity: 0;
}
figure:hover{
    border-radius: 20px;
    box-shadow: 0px 0px 25px #c6b5b5;
}
#portfolio figure figcaption {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    line-height: 2;
    font-size: 20px;
}
#portfolio .center figure figcaption {
    background-color: #000;
}
figcaption {
    margin-top: 10px;
    text-align: center;
    line-height: 1.5;
}

.wrap3 img {
    width: 550px;
    height: 300px;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 20px;
}

/* ============================   luck  ===========================================*/
#luck{    
    height: 300px;
}
#luck .wrap{    
    overflow: visible;
    margin: 0 auto;
}
#luck ul{    
    margin: 0 auto;
    text-align: center;
}
#luck ul li{    
}
.slick-slide{
    
}
.slick-list{
    margin: 0 auto;
}
#luck ul img{    
    margin: 0 auto;
}
.slick-prev, .slick-nex{
    background-color: #ccc;
    color:#000;
}
.slick-prev::before, .slick-next::before{
    color: #000;
    font-size: 50px;
}
.slick-prev{    
    left: -50px;
}
.slick-next{
    
}
#padlet{
    
}
.padlet-memo{
   
    position: relative;
}
.memo{  
    position: absolute;
    bottom: 69px;
    right: 90px;
    font-size: 20px;   
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
}
.memo strong{    
    color: #2e9edd;
    animation-name: color;
    animation-duration:2s;
      animation-iteration-count:infinite;  
    margin-left: 10px;
}
@keyframes color{
    0%{color:red;
    right: 90px;}
    20%{color:orange;}
    40%{color:yellow;}
    60%{color:green;}
    80%{color:aqua;}
    100%{ color:peru;     
        right: 50px;
    }
}