@media screen and (max-width:768px){
/*  =========================================== title ==========================================================  */
#title{height: 600px;}
#title .wrap{    
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  }
  .scene{    
  right: auto;
  bottom: auto;
  justify-content: center;
  display: flex;
  align-items: center;
  }
  .cube{    
  gap: 10px;
  padding-left: 0;
  font-size: 50px;
  width: auto;
  height: auto;
  }
  #title .block{
  padding-left: 0;
  font-size: 50px;
  gap: 10px;
  left: -100px;
  }
  .scroll{
    
  }
  
  /*  ========================================== header ==========================================================  */
header{
  width: 100%;
  position: relative;
  }
  header ul.gnb{
    display: none;
  }
  .portfolio{
    display: none;
  }
  header .wrap h1 a{left: 20px;}
 /*  ========================================== main ==========================================================  */
#main{
  }
  /*  ========================================== luck ==========================================================  */
  #luck{margin: 0 auto;}  
  .portani{
    
  }
/*  ========================================== about ==========================================================  */
    #about{
    width: 100%;
    height: 500px;
  }
  #about .wrap0{

  }
  #about .me{
    padding: 10px;
    padding-top: 30px;
  }
  #about ul{
    line-height: 2;
  }
  #about ul li{
    font-size:20px;
  }
  #about ul li strong{
    font-size: 11px;
  }
  #about .wrap0 img{    
  width: 90px;
  height: 80px;
  left: 60%;
  }
  #about h2{
    
  font-size: 20px;
  justify-content: left;
  margin-left: 50px;
  }
  #about h2 a{
    
  }
  #about h2 strong{    
  font-size: 80px;
  }
/* ---------------------------------------------skill------------------------------------------------ */
#skill {      
  width: 80%; 
}  
#top_light{    
  width: 30px;
  height: 30px;
  right: 25%;
}
#top_light img { 
  height: 50px;
  width: 50px;
}
  #top_light::after{    
  right: -10px;
  top: 13px;
  height: 5px;
  width: 5px;
  }
  #top_light::before{
    animation-name: circle;
    animation-duration: 1s;
    animation-iteration-count:infinite;  
    animation-timing-function: ease-in-out; 
    top: 18px;
    right: 0;
}
@keyframes circle{
    0%{
        opacity: 1;
    }
    100%{
        width: 50px;
        height: 50px;
        opacity: 0;
    }
}
#skill h2 {  
  font-size: 20px;
  padding-bottom: 50px;
  padding-top: 0;
  text-align: left;
  margin-top: 10px;
}
#skill h2 strong{ 
  font-size: 80px;
}
#skill .icon {
  padding-bottom: 0;
}

#skill .icon ul {  
  gap: 5%;
  width: 80%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#skill .icon ul li {   
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
}

#skill .icon ul li:nth-child(1) {
    
}

#skill .icon ul li:nth-child(2) {

}

#skill .icon ul li:nth-child(3) {

}

#skill .icon ul li:nth-child(4) {

}

#skill .wrap2 { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: transparent;
  font-size: 15px;
  gap: 20px;
}

#skill .school {/*! display: block; *//*! width: 36%; *//*! text-align: center; */}

#skill h3 {    
  font-size: 20px;
}
#skill p{
    font-size: 10px;
  }

#skill .wrap2 p {
 
  }

#skill .wrap2 ul {}

#skill .wrap2 ul li {

}

#skill .school p {font-size: 15px;}

#skill .hc {/*! display: block; *//*! width: 45%; *//*! text-align: center; */}

#skill .hc h3 {}

#skill .hc ul {}

#skill .hc ul li {}

#skill .js {/*! display: block; *//*! text-align: center; *//*! width: 26%; */}

#skill .js h3 {}

#skill .js ul {}

#skill .js ul li {}

/* =============================portfolio=================================== */
#portfolio {    
  width: 90%;
  height: 140%;
}

.contents {
  column-count: 1;
}

.center {   
  width: 70%;
  height: 25%;
  margin: 0 auto;
  left: 55px;
}
.center figure img{
   
}
.center figcaption{

}
.center figcaption h3{
  font-size:10px;
}
.center figcaption p{
  font-size:10px;
}
.center a {
  
}

.center i {
  top:-75px;
  right:-70px;    
}

.center img {

}

.in img {
  
}

.bottom {}

.wrap3 {

}

.wrap3 h2 { 
  text-align: left;
  margin-left: 50px;
}
.wrap3 h2 strong{   
  font-size: 80px;
}
figure {   
  margin-bottom: 20px;
}
figure>div{
   
}
figure>div::before{
  font-size: 20px;
  width: 100%;
  height: 80%;
  line-height: 8;
}
figure:hover >div::before{
 
}
.center figure:hover >div::before{
   
}
figure:hover{   
}
#portfolio figure figcaption {    
  font-size: 15px;
}
#portfolio .center figure figcaption {    
}
figcaption {
}

#portfolio figure img {  
  width: 100%;
  height: 100%;
}  
      /*  ========================================= style ==========================================================  */
#style{

}
    /*  ========================================== foote r==========================================================  */
footer {  
}

#foot { 
  width: 100%;
}

#foot h2 {  
  text-align: left;
  margin-left: 50px;
}
#foot h2 strong{  
  font-size: 80px;
}
.thanks {
}

.thanks h3 {  
  font-size: 15px;
}

.address {  
  width: 55%;
}

.address ul {}

.address ul li span { 
  font-size: 15px;
  padding-bottom: 10px;
}

#foot p {  
  font-size: 10px;
  line-height: 2;
}

#foot strong {  
  font-size: 15px;
}

#foot a {
  
}
}