body {
    transition: all 1s;
    font-family: 'Noto Sans KR', sans-serif;
}

.aside {
    width: 90px;
    background-color: #d3cfcf00;
    position: fixed;
    right: -100px;
    top: 100px;
    padding: 10px;
    box-sizing: border-box;
    transition: all 1s;
    top: 50px;
    color: white;
    z-index: 6;
}

.asideShow {
    right: 20px;
}

.aside a.ham {
    position: absolute;
    left: -90px;
    box-sizing: border-box;
    padding: 20px 20px;
    color: white;
    background-image: url(../img/menu_open_black.png);
    background-repeat: no-repeat;
    font-size: 0;
    width: 300px;
    height: 61px;
}

.aside ul {
    line-height: 2;
    text-transform: capitalize;
}

.aside ul li {}

.aside ul li a {
    display: block;
}

header ul.gnb {
    display: flex;
    justify-content: right;
    font-size: 20px;
    font-weight: bold;
    gap: 100px;
    position: absolute;
    z-index: 5;
    width: 120%;
    top: 60px;
}
header ul.gnb li {}

header ul.gnb a {
}

.over {
    color: red;
}